<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">  
    
<!-- 配置参数：driver（驱动程序） -->  
<context-param>
<param-name>driver</param-name>
<param-value>com.mysql.jdbc.Driver</param-value>
</context-param>

<!-- 配置数据库url -->
<context-param>
<param-name>url</param-name>
<param-value>jdbc:mysql://localhost:3306/test</param-value>
</context-param>

<!-- 配置数据库用户 -->
<context-param>
<param-name>user</param-name>
<param-value>root</param-value>
</context-param>

<!-- 配置数据库账号密码 -->
<context-param>
<param-name>pass</param-name>
<param-value></param-value>
</context-param>

<servlet>
<!-- 指定Servlet名字 -->
<servlet-name>config</servlet-name>
<!-- 指定将哪个jsp页面配置成Servlet，路径相对于项目根目录 -->
<jsp-file>/02/2.9/jspObject/configTest2.jsp</jsp-file>
<!-- 配置名为name的参数，值为tanamo -->
<init-param>
<param-name>name</param-name>
<param-value>tanamo</param-value>
</init-param>
<!-- 配置名为age的参数，值为23 -->
<init-param>
<param-name>age</param-name>
<param-value>23</param-value>
</init-param>
</servlet>
<!-- 指定将config Servlet配置到/config路径 -->
<servlet-mapping>
<servlet-name>config</servlet-name>
<url-pattern>/02/2.9/jspObject/config</url-pattern>
</servlet-mapping>
    
</web-app>

